body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #BFBFBE;
    margin: 0;
    padding: 0;
}

h2,p{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #040303;
    color: white;
    min-height: 100px;
    height: 150px;
    max-height: 400px;
    flex-wrap: wrap;
    border-bottom: 4px solid #262626;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

li{
    display: inline;
    padding: 0px 10px;
}

ul{
    list-style: none;
    margin-top: 0;
    padding: 10px;
    margin-bottom: 10px;
}

i{
    margin: 0px 20px;
}

.blue{
    font-size: 12px;
    color: rgb(0, 102, 255);
    margin-left: 92px;
}

.current{
    font-weight: 500;
    color: rgb(0, 102, 255);
}

.big{
    font-size: 40px;
}

.small{
    font-size: 20px;
}

.hvr:hover{
    font-weight: 800;
    color: rgb(78, 149, 255);
    cursor: pointer;
}

.showcase{
    min-height: 300px;
    max-height: 400px;
    height: 350px;
    background: url(img/banner.jpg) no-repeat;
    background-size: cover;
    border-bottom: 4px solid #90908F;
}

.div3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px 10px;
    text-align: center;
}

.one, .two, .three{
    padding: 10px;
    width: 28%;
    /* background-color: #90908F; */
}

.one h3, .two h3, .three h3{
    text-align: center;
}

.one img, .two img, .three img{
  width: 100%;
  border-radius: 20px;
}


button{
    padding: 15px;
    border-radius: 60px;
    border: 0;
    background-color: rgb(0, 102, 255);
    color: white;
    font-size: 18px;
    display: block;
    margin: 20px auto;
}

button:hover{
    color: black;
    cursor: pointer;
}

footer{
    background-color: #262626;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: monospace;
    color: #90908F;
}

footer a{
    text-decoration: none;
    font-weight: bold;
    color: #BFBFBE;
}

footer a:hover{
    color: rgb(0, 102, 255);
}